<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<array>
			<string>Quicksand-Regular.ttf</string>
			<string>Quicksand-Medium.ttf</string>
			<string>Quicksand-Light.ttf</string>
			<string>Quicksand-Bold.ttf</string>
		</array>
	</array>
</dict>
</plist>
